body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #331213, #681f1f);
}

header {
    text-align: center;
}

nav, form, #resultadoBusca, #noticiaCesupa, #noticiaUnama, #noticiaFibra, #formularioAdicao {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

button {
    background-color: rgb(86, 76, 175);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #4546a0;
}
.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 40px;
    left: 95px;
    width: 180vh;
    text-align: center;
}
form {
    max-width: 400px;
    margin: 20px auto;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}